/**
 * @name Greaper Theme
 * @author ItzScripts
 * @version 1.2
 * @description Pink Anime Themed Theme For Better Discord
*/

@import url('https://monstrousdev.github.io/themes/phoenix-bundle/reborn.css');
@import url('https://discordstyles.github.io/HorizontalServerList/dist/HorizontalServerList.css');

:root {
  --background-image: url('https://i.imgur.com/IxMiBSM.jpg');
  --popup-background: url('https://s-media-cache-ak0.pinimg.com/originals/60/c4/bb/60c4bb55215c989b15b0fe144c73cf82.jpg');
  --background-blur: 4px;
  --background-darkness: 0.36;
  --main-color: #F906E6;
  --hover-color: #DF090A;
  --roundness: 50px;
  --shadow: rgb(0,0,0,0.99);
}

/* Any custom CSS below here */


